@import url(./null-style.css);

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  border: 2px solid red;
  min-height: 100vh;
}
.wrapper > div {
  border: 2px solid green;
}